<section class="designs">
    <div class="row">
        <img class="large-offset-1 large-10 large-centered columns" src="assets/images/separator/bar-separator.svg" width="100%"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="info large-8 large-centered columns">
                <div class="title">the final designs</div>
                <div class="description">
                    <p>Curabitur blandit tempus porttitor. Sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                    </p>

                    <p>
                        Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a
                        pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    </p>
                </div>
            </div>
        </div>
        <div >
            <ul class="slides">
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
                <li><img src="assets/images/designs/ipad.png" alt="slide 1" /></li>
            </ul>
        </div>
        <div class="row">
            <div class="buttons large-8 large-centered columns">
                <a href="#" class="launch button small round">launch project</a>
                <a href="#" class="contact button small round">contact us</a>
            </div>
        </div>

        <div class="row">
            <div class="social large-8 large-centered columns">
                <p class="text large-5 columns">Like this pROJECT? Share it...</p>
                <div class="social-icons">
                    <div class="social-facebook"></div>
                    <div class="social-linkedin"></div>
                    <div class="social-twitter"></div>
                    <div class="social-google-plus"></div>
                    <div class="social-mail"></div>
                </div>
            </div>
        </div>

    </div>
</section>
