<section class="fancy">
    <img class="hidden" src="assets/images/backgrounds/triangle-white.png" width="100%"/>
    <div class="row info">
        <div class="large-offset-1 small-12 large-5 columns">
            <span class="separator hide-for-medium-down"></span>
            <p class="title">Fancy.</p>
            <p class="text">
                Joke.co.uk offers the UK's largest online portfolio of costumes,
                from zombies to Lady Gaga. lorem Ves tibulum id ligula porta
                felis eutus, nisi erat.
            </p>
            <p><a href="#" class="launch button small round">launch project</a>
        </div>
    </div>
</section>
