<section class="joke" data-type="background" data-speed="100">
    <div class="overlay"></div>
    <img class="hidden" src="assets/images/backgrounds/joke.jpg" width="100%"/>
    <div class="row info">
        <div class="large-offset-1 small-12 large-3 columns">
            <p class="highlight-bar">case study</p>
            <p class="title">joke</p>
            <span class="separator hide-for-medium-down"></span>
            <p class="text">
                Cras justo odio, dapibus ace facilisis in,
                egestas eget quam. Sed p osuere conse ctetur est at
                lobortis. Nul lam quis risus eget.
            </p>
        </div>
    </div>
</section>
