<section class="leaders hide-for-medium-down">
    <img class="leaders-top-overlay" src="assets/images/overlays/leaders-overlay.png" width="100%"/>
    <div class="leaders-bottom-overlay hide-for-medium-down"></div>
    <div class="row info">
        <div class="large-offset-6 small-6 large-6 columns">
            <span class="separator"></span>
            <p class="title">established leaders in their field</p>
            <class class="description">
                <p>
                    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    Aenean lacinia bibendum nulla sed conse ctetur.
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa.
                </p>
                <p>
                    Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada
                    magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.
                    Curabitur blandit tempus porttitor. Praesent commodo cursus magna,
                    vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </class>
        </div>
    </div>
    <img class="warrior" src="assets/images/leaders/warrior.png" width="100%"/>
</section>
