<section class="projects">
    <div class="projects-top-overlay hide-for-medium-down"></div>
    <div class="projects-bottom-overlay hide-for-medium-down"></div>
    <div class="container">
        <div class="row info">
            <h3 class="title large-centered columns">project objectives</h3>
            <p  class="description large-8 large-centered columns">
                Donec id elit non mi porta gravida at eget metus.
                Nulla mquis risus eget urna mollis ornared posuere consectetur est at lob ortis.
                Integer posuere erat a ante venen atis.</p>
        </div>
        <div class="row item-list">
            <ul class="projects large-centered columns">
                <li class="item-1 large-4 columns">
                    <figure class="item-image icon"></figure>
                    <p class="item-title">improve conversions</p>
                    <p class="item-description">
                        Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                        Maecenas sed.
                    </p>
                </li>
                <li class="item-2 large-4 columns">
                    <figure class="item-image icon"></figure>
                    <p class="item-title">fully responsive</p>
                    <p class="item-description">
                        Nulla vitae elit libero,
                        a pharetra augue. Vestib ulum id
                        ligula. Donec ullamcorper nulla non.
                    </p>
                </li>
                <li class="item-3 large-4 columns">
                    <figure class="item-image icon"></figure>
                    <p class="item-title">optimised load times</p>
                    <p class="item-description">
                        Nullam id dolor id nibh ultricies vehicula
                        ut id elit. Cras justo odio,
                        dapibus ac facilisis in, eges.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
