<section class="statistics">
    <div class="statistics-top-overlay"></div>
    <div class="statistics-bottom-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="info large-5 columns">
                <h2 class="title">user statistics - a massive improvement</h2>
                <p class="description">
                    Curabitur blandit tempus porttitor.
                    Sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus. Vestibulum id ligula.
                </p>

            </div>
        </div>
        <div class="row">
            <ul class="charts large-6 columns">
                <li class="large-6 columns">
                    <div class="chart chart-1" data-percent="73">
                        <span class="percent">73</span>
                    </div>
                    <p class="chart-title">lorem ipsum dolor</p>
                    <p class="chart-description">
                        Vivamus sagittis
                        lacus vel augue laoreet rutrum
                        faucibus dolor auctor. Maecenas sed.
                    </p>
                </li>
                <li class="large-6 columns">
                    <div class="chart chart-2" data-percent="62">
                        <span class="percent">62</span>
                    </div>
                    <p class="chart-title">lorem ipsum dolor</p>
                    <p class="chart-description">
                        Vivamus sagittis
                        lacus vel augue laoreet rutrum
                        faucibus dolor auctor. Maecenas sed.
                    </p>
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="charts large-6 columns">
                <li class="large-6 columns">
                    <div class="chart chart-3" data-percent="59">
                        <span class="percent">59</span>
                    </div>
                    <p class="chart-title">lorem ipsum dolor</p>
                    <p class="chart-description">
                        Vivamus sagittis
                        lacus vel augue laoreet rutrum
                        faucibus dolor auctor. Maecenas sed.
                    </p>
                </li>
                <li class="large-6 columns">
                    <div class="chart chart-4" data-percent="83">
                        <span class="percent">83</span>
                    </div>
                    <p class="chart-title">lorem ipsum dolor</p>
                    <p class="chart-description">
                        Vivamus sagittis
                        lacus vel augue laoreet rutrum
                        faucibus dolor auctor. Maecenas sed.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
