// fonts and global variables
$pink-color: rgb(245, 56, 76);

// foundation buttons
$button-bg: red;
$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: $pink-color;
$button-font-color: $pink-color;
$button-font-sml: rem-calc(24);

